<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
	<title>CNV CMS系统</title>
	<!-- 添加Boostrap 和 JQuery -->
	<link rel="stylesheet" th:href="@{'/vendor/bootstrap/css/bootstrap.min.css'}"/>
	<script th:src="@{'/vendor/jquery/jquery.min.js'}"></script>
	<script th:src="@{'/vendor/bootstrap/js/bootstrap.min.js'}"></script>
	<!-- 自定义css -->
	<link rel="stylesheet" th:href="@{'/css/basic.css'}"/>
	<link rel="stylesheet" th:href="@{'/css/list.css'}"/>
	
	<!-- 自定义js -->
	<script th:src="@{'/js/common.js'}"></script>
	<script th:src="@{'/js/article_list.js'}"></script>
</head>
<body>
<script th:inline="javascript">
/*<![CDATA[*/
    var articles = [[${articles}]];
/*]]>*/
</script>
<!-- 导航栏 -->
<div id="navigation-div" th:include="navigation::navigation"> </div>

<!-- Page Content -->
<div class="container">
	<div class="row">
		<!-- <div class="col-lg-12"> -->
			<!-- <h1 class="page-header">Blank</h1> -->
		<!-- </div> -->
		<!-- /.col-lg-12 -->
	  <!-- 页面左侧内容区 -->
	  <div class="page-div col-md-9">
		<div class="list-header">
		  <div>
			<a class="header" href="#"><strong id="channel-title" th:text="${channelname}">栏目标题</strong></a>			
			<!-- 右侧搜索输入框 -->
			<div class="col-sm-4 pull-right">
				<div class="input-group custom-search-form">
					<input type="text" class="form-control" placeholder="Search..."/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</span>
				</div>
			</div>
			<div style="clear:both"></div>
		  </div>	
		  <div style="border-bottom: 1px solid #E8E8E8;padding-top:15px"></div>
			<!-- <div class="head-tag">
				<a class="tags" href="#">关键字1</a>
				<a class="tags" href="#">关键字2</a>
			</div> -->
		
		
		</div>	
		<div  th:remove="all-but-first" id="article-list-div">
		<div th:each="art : ${articles}" class="list-item">	
		
			<!-- 左侧图片 -->
			<div class="col-xs-2 col-sm-1">
				<img th:src="'http://oqr1n6rjk.bkt.clouddn.com/user/head/G0'+${#numbers.formatInteger(art.userId%55,2)}+'.jpg?imageView2/1/w/30/h/30/format/jpg/q/75|imageslim'" alt="User Avatar" class="img-circle" />
				<!-- <a href="javascript:;" th:title="${art.title}"><img  class="img-responsive" alt="标题标题" th:src="${contextPath}+'/images/list_item.jpg'"/></a> -->					
			</div>
			<!-- 右侧内容 -->
			<div class="col-xs-10 col-sm-11">
				<!-- 头部信息：标题作者等 -->
				<div class="item-head">
					<h4 class="head">
						<a th:title="${art.title}" th:text="${art.title}" th:href="@{'/article.html?id='+${art.id}}">标题标题标题标题标题标题标题标题标题</a>
					</h4>
					
					<div class="pull-left">	
				   
						<i class="info"><a th:href="@{'userdetail.html?userid='+${art.userId}}" target="_blank" th:text="${art.author}">作者</a></i>  
						<!-- <i class="info"><a href="javascript:;" target="_blank">分类</a></i> -->   
						<i class="info" th:text="${#dates.format(art.createDate, 'yyyy-MM-dd hh:mm:ss')}">2013/03/02</i>
					</div>	
					<div class="pull-right">
						<span  href="void(0);"  th:text="${art.fellows}+' 条评论'"></span>
						&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open" href="void(0);" th:title="${art.readTimes}+'次查看'" th:text="${art.readTimes}">100次</span>							
					</div>
				</div>
				<!-- 文章描述 -->
				<!-- <div class="item-body">
					<p th:text="${art.summary}">描述描述描述描述描述描述描述描述描述描述描述描述描述
					描述描述描述描述描述描述描述描述描述描述描述描述描述</p>
				</div> -->
			</div>
		</div>

		
		
		</div>	
		<div class="page-number">
			<ul class="pagination" th:with="prePage=${pageid-1},nextPage=${pageid+1}">
				<li><a th:href="@{'?id='+${channelid}+'&amp;page='+${prePage}}">&laquo;上一页</a></li>
				<li><a href="javascript:void(0)">&nbsp;</a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="javascript:void(0)">&nbsp;</a></li>
<!-- 				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li> -->
				<li><a th:href="@{'?id='+${channelid}+'&amp;page='+${nextPage}}">下一页&raquo;</a></li>
			</ul>	
		</div>
	  </div> <!-- /.col-md-9 -->	
	  
		<!-- 页面右侧导航区 -->	
		<div class="page-div col-md-3">
			<div class="panel panel-default page-panel">
				<div class="panel-heading">
					右侧导航
				</div>
			
				<div class="panel-body">
					<ul class="">
						<li>CNV-CMS系统</li>
						<li><a href="#" >文章标题 1</a></li>
						<li><a href="#" >文章标题 2</a></li>
						<li><a href="#" >文章标题 3</a></li>
					</ul>					
				</div>

			</div>
			<div class="panel panel-default  page-panel">
				<div class="panel-heading">
					热点推荐
				</div>
				<div class="panel-body">
					<ol>
						<li>CNV-CMS系统</li>
						<li><a href="#" >文章标题 1</a></li>
						<li><a href="#" >文章标题 2</a></li>
						<li><a href="#" >文章标题 3</a></li>
					</ol>					
				</div>

			</div>			
		</div>		
		<!-- /.col-md-3 -->			
	</div>
	<!-- /.row -->
</div>
<!-- /.container -->


<!-- Page Footer -->
<div th:replace="footer::footer"></div>
</body>
</html>