<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">  
    <head>  
        <title>Page  Footer</title>  
    </head>  
    <body>  
	<footer class="footer" th:fragment="footer">
	      <div class="container text-center">
	        <p> Copyright &copy; 2013-2017    <strong><a href="#" target="_blank">CNV-CMS</a></strong>&nbsp;</p>
			<p> <strong>XQY</strong> All Rights Reserved. 备案号8888888888</p>
	        <p>
				<ul class="list-inline">
				  <li><a href="#" >Link 1</a></li>
				  <li><a href="#" >Link 2</a></li>
				  <li><a href="#" >Link 3</a></li>
				</ul>
			</p>
			<p th:text="${test}"></p>
	      </div>
	</footer>
    </body>  
</html> 

