<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">  
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
	<title>CNV CMS系统</title>
	<!-- 添加Boostrap 和 JQuery -->
	<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css"/>
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!-- 自定义css -->
	<link rel="stylesheet" href="css/basic.css"/>
	<link rel="stylesheet" href="css/login.css"/>
	<!-- 自定义js -->
	<script src="js/common.js"></script>
	<script src="js/login.js"></script>		
</head>
<body>
<!-- 导航栏 -->
<div id="navigation-div" th:include="navigation::navigation"> </div>
<!-- Page Content -->
<div class="container" style="padding-bottom:30px;">

</div>
<!-- /.container -->


<!-- Page Footer -->
<div th:replace="footer::footer"></div>

<!-- js and css -->
</body>
</html>